<usermenu></usermenu>
<navigatorusermenu></navigatorusermenu>
<div id="cartelera" class="container" ng-controller="mainController">
	<div class="row">
		<div class="page-header">
		<h1>Cartelera Actual <small>Cines de Sevilla</small></h1>
	</div>
	</div>
	<!-- Menu -->
	<div class="row">
		<div class=" col-xs-12  col-lg-6 col-lg-offset-3">
			<div class="input-group">
				<span class="input-group-btn">
					<i class="material-icons">search</i> 
				</span>
				<input type="text" class="form-control" placeholder="Búsqueda por nombre..." ng-model="search">
			</div><!-- /input-group -->
		</div><!-- /.col-lg-6 -->

	</div><!-- /.row -->
	<div class="row" id="cartelera">
		<p class="text-center" ng-hide="dataLoaded">
			<i class="fa fa-spinner fa-spin"></i>
		</p>
		<div ng-show="dataLoaded" class=" col-xs-6  col-md-2" ng-repeat="pelicula in cartelera | filter:{title: search}">
			<article>
				<div class="card">
					
					<div class="card-image">
						<a href="#/movie/{{pelicula.title}}"><img ng-src="{{pelicula.img_url}}" class="img-responsive"/></a>
					</div>
					
					<div class="card-body">
						<ul class="list-unstyled list-inline text-center">
							<li ng-click="checkFilm('view',pelicula.title,pelicula.duration,pelicula.genders)"><span class="glyphicon glyphicon-eye-open" ng-class="{blue: checkViewMovie(pelicula.title)}"></span></li>

							<li ng-click="checkFilm('bookmark',pelicula.title,pelicula.duration,pelicula.genders)"><span class="glyphicon glyphicon-bookmark" ng-class="{green: checkBookmarkMovie(pelicula.title)}"></span></li>

							<li ng-click="checkFilm('favorite',pelicula.title,pelicula.duration,pelicula.genders)"><span class="glyphicon glyphicon-heart" ng-class="{red: checkFavoriteMovie(pelicula.title)}"></span></li>
						</ul>
					</div>
				</div>
			</article>
		</div>
	</div>
</div>

